{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-new": "off",
    "comma-dangle": ["error", "always-multiline"],
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }]
  }
}