{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "no-new": "off",
//    "arrow-body-style": ["error", "always"]
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": true }]
  }
}